
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: -2;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

h1{
    font-size: 18px;
    border-bottom: 1px solid;
    padding: 8px 16px;
    margin-bottom: 16px;

}

dl{
    margin: 0;
}

dl>div{
    margin-bottom: 8px;
}

dt{
    padding: 8px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
/* 登山しよ！とは */
dl>div.appear dt::after {
    transform: rotate(45deg);
}

dt::after{
    content:'+';
    position: absolute;
    top: 8px;
    right: 930px;
    transition: .3s;
}

dt::before {
    content:'Q. ';
}

dd{
    padding: 8px;
    margin: 0;
    display: none;
}

dd::before {
    content:'A. ';
}

dl>div.appear dd {
    display: block;
    animation: .3s fadeIn;
}
/* animationプロパティに設定 */
@keyframes fadeIn{
    0%{
        opacity: 0; /*透明にする*/
        transform: translateY(-10px);/*上の方に配置する*/
    }
    100%{
        opacity: 1; /*見えるようにする*/
        transform: none;/*表示*/
    }
}
